header {
    display: flex;
    justify-content: space-between;
    background-color: #00353F;
    color: white;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#btnBackHome {
    background-color: #00353F;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    padding-top: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;

}


.titleHead {
    margin: auto;
    padding-left: 160px;
}


body {
    background-color: #08C5D1;
    text-align: center;
}

main {
    align-content: center;
}

.iframeMap {
    margin: auto;
    padding: 70px 0;

}

iframe {
    border: 1px solid #00353F;
}


.contacts {
    text-align: center;
}

.footerElements {

    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #00353F;
}

.reseaux {
    display: flex;
    flex-direction: column;
}

.iconRes {
    height: 30px;
    margin-bottom: 30px;

}

#changeColorBtn {
    background-color: #00353F;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}