
body {
    background-color: #08C5D1;
    text-align: center;
}


header{
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

#btnBackHome{
    background-color: #00353F;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#formStyle {
    width: 20%;
    margin: auto;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    background-color: #00353F;
    color: white;
    padding: 30px;
    font-size: 18px;

}

.radioBtnChoice{
    margin-left: 60px;
    text-align: justify;
}

.inputForm{
    margin: 8px;
    width: 95%;
    border-radius: 5px;
    background-color: white;
}

#inscriptionInput{
    color: white;
    text-decoration: none;
}