/* Style de la navbar */

/* icones réseaux*/

.navbar {
    height: 150px;
}

.reseauxSite {
    text-align: center;
}

.nav-item {
    font-size: larger;
}

/* Body */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* carousel */


#carouselExampleCaptions {
    /* ici je réduit la place que prend le carousel */
    width: 70%;
    margin: 0 auto;
}

.carousel-item img {
    /* Méthode à utiliser pour avoir un carousel responsive */
    width: 100%;
    height: auto;

}

.carousel-caption {
    margin-bottom: 270px;
}

h5 {
    color: white;
    font-size: 20pt;
}

.descriptionPict {
    color: white;
    font-size: 18pt;
}

/* elements du body */

h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 20pt;
}


/* présentationSéjours */

.rowInformation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F8F9FA;
}

.lieuDestination {
    /* ma class lieyDestination prendra 30% de la largeur relativement au parent (ici la div.conteneur) */
    position: relative;
    width: 300px;
    min-width: 300px;
    margin: 20px 40px;
    padding: 5px;
    border: 1px solid #154648;
    }

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.lieuDestination:hover .image {
    /* ici je dis que lors du passage de la souris sur la photo (hover), l'opacité de l'image doit passer de 1 à 0.3 */
    opacity: 0.3;
}

.lieuDestination:hover .middle {
    /* ici je dis que lors du passage de la souris sur la photo (hover), l'opacité de middle doit passer de 0 à 1 */
    opacity: 1;
}

.text {
    background-color: #847E8E;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


.infosDest {
    display: flex;
    justify-content: space-between;
}

.textDuree {
    text-transform: uppercase;

}

.nomDestSejour {
    text-transform: uppercase;
    background-color: #847E8E;
    color: white;
    text-align: center;
}

.textPrice {
    text-transform: uppercase;
}

.prixIndication {
    text-align: center;
    background-color: #847E8E;
    color: white;
}

.informationsDestinations {
    text-transform: uppercase;
    text-align: justify;
    color: #171A25;
}